inoremap jk <ESC>
set hls
set ignorecase
nnoremap <silent> <C-l> :nohl<CR>

let mapleader=","

map <Leader>p "0p

set easymotion
map ; <Plug>(easymotion-prefix)

nnoremap <A-l> :action NextTab<CR>
inoremap <A-l> <ESC>:action NextTab<CR>
nnoremap <A-h> :action PreviousTab<CR>
inoremap <A-h> <ESC>:action PreviousTab<CR>
nnoremap <A-x> :action CloseEditor<CR>
map <C-p> :action SearchEverywhere<CR>
map <C-g> :action FindInPath<CR>
nnoremap <Leader>t :action FileStructurePopup<CR>

nnoremap <Leader>r :action RenameElement<CR>

nnoremap <Leader>v :action Tool_External Tools_nvim<CR>

" git
nnoremap gco :action Vcs.RollbackChangedLines<CR>
nnoremap gs :action VcsShowCurrentChangeMarker<CR>
nnoremap gitn :action VcsShowNextChangeMarker<CR>
nnoremap gitp :action VcsShowPrevChangeMarker<CR>

" ideaVim 插入模式为什么不默认设置<C-j>
inoremap <C-j> <CR>

nnoremap <A-s> :action Tool_External Tools_terminal<CR>
