" =====================
" .ideavimrc
" 
" =====================

inoremap jk <ESC>
set hls
set ignorecase

nnoremap <ESC> :nohl<CR><ESC>

nnoremap <space>p "0p
vnoremap <space>p "0p

set easymotion
nmap <space>f <Plug>(easymotion-bd-w)
xmap <space>f <Plug>(easymotion-bd-w)

noremap <C-s> :action PreviousTab<CR>
imap <C-s> <C-o><C-s>
noremap <C-l> :action NextTab<CR>
imap <C-l> <C-o><C-l>

nnoremap <C-x> :action CloseEditor<CR>
imap <C-x> <C-o><C-p>

noremap <C-p> :action SearchEverywhere<CR>
imap <C-p> <C-o><C-p>
noremap <C-g> :action FindInPath<CR>
imap <C-g> <C-o><C-p>

nnoremap <space>o o<ESC>

" nnoremap <Leader>w :action ActivateProjectToolWindow<CR>
" nnoremap <Leader>d :action HideActiveWindow<CR>

" 再按一次<space>可以预览
nnoremap <space>/ :action FileStructurePopup<CR>

nnoremap <space>r :action RenameElement<CR>

" git
nnoremap gco :action Vcs.RollbackChangedLines<CR>
nnoremap gs :action VcsShowCurrentChangeMarker<CR>
nnoremap <space>gn :action VcsShowNextChangeMarker<CR>
nnoremap <space>gp :action VcsShowPrevChangeMarker<CR>
nnoremap <space>ga :action Annotate<CR>

nnoremap <space>c :action CommentByLineComment<CR>
vnoremap <space>c :action CommentByBlockComment<CR>

nnoremap vib {jV}

" nnoremap ,v :action Tool_External Tools_nvim<CR>
