inoremap jk <ESC>
set hls
set ignorecase
nnoremap <silent> b :nohl<CR>b

let mapleader="\<space>"

nnoremap <Leader>p "0p
vnoremap <Leader>p "0p

set easymotion
nmap ; <Plug>(easymotion-prefix)
xmap ; <Plug>(easymotion-prefix)

noremap <C-s> :action PreviousTab<CR>
imap <C-s> <C-o><C-s>
noremap <C-l> :action NextTab<CR>
imap <C-l> <C-o><C-l>

nnoremap <C-x> :action CloseEditor<CR>
imap <C-x> <C-o><C-p>

noremap <C-p> :action SearchEverywhere<CR>
imap <C-p> <C-o><C-p>
noremap <C-g> :action FindInPath<CR>
imap <C-g> <C-o><C-p>

xnoremap <Leader>e <ESC>

nnoremap <Leader>o o<ESC>

" 再按一次<space>可以预览
nnoremap <Leader>t :action FileStructurePopup<CR>

nnoremap ,r :action RenameElement<CR>

" git
nnoremap gco :action Vcs.RollbackChangedLines<CR>
nnoremap gs :action VcsShowCurrentChangeMarker<CR>
nnoremap gtn :action VcsShowNextChangeMarker<CR>
nnoremap gtp :action VcsShowPrevChangeMarker<CR>
nnoremap gta :action Annotate<CR>

nnoremap ,cc :action CommentByLineComment<CR>
vnoremap ,cc :action CommentByBlockComment<CR>

nnoremap vib {jV}

nnoremap ,v :action Tool_External Tools_nvim<CR>

nnoremap ,a @a
